body {
  background-color: rgb(114, 193, 122);
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  /* background-color: #f4f4f4; */
}

/* nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* background-color: paleturquoise; */
/* padding: 1rem;
  background-color: rgb(114, 193, 122); */
/* } */

a {
  text-decoration: none;
  color: white;
}

.nav {
  width: 12rem;
  height: 1.2rem;
  border-radius: 0.2rem;
}

.nav2 {
  width: 6rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}

#ville {
  justify-content: center;
}

#nav {
  background-color: violet;
}

input {
  margin: 0 auto;
}

.soleil {
  display: flex;
  background-color: rgb(255, 221, 0);
  justify-content: space-around;
  padding: 1rem 0;
}

.satellite {
  width: 100%;
}

.iconMeteo {
  margin: 0 auto;
  width: 25%;
}

.temperature {
  font-size: 3rem;
  align-self: center;
}

h1,
p {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
}

.date {
  align-self: center;
}

.pluie {
  background-color: rgb(114, 193, 122);
  text-align: center;
  padding-bottom: 3rem;
}

.grenouille {
  width: 100%;
}

.search {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.city {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.notfound {
  visibility: hidden;
}

.presentation {
text-align: center;
margin-bottom: 5rem;
}

.presentation>p{
  font-size: 1.5rem;
}
.presentateur {
  display: block;
  font-weight: bold;
}